body{ border:0px; }

.texto{
	width: 700px;
	height: 500px;
	background-color: #999999;
	color: red;
	text-align: center;
	font-size: 20px;
/* Centraliza.. calcula a margem dos lados */
	margin: auto;

	margin-top: 20px;
	padding-top: 20px;

}